// margin ALL

.margin-10px {
  margin: 10px;
}
.margin-20px {
  margin: 20px;
}
.margin-40px {
  margin: 40px;
}
.margin-60px {
  margin: 60px;
}
.margin-100px {
  margin: 100px;
}

// margin HORIZONTAL

.margin-hori-10px {
  margin-left: 10px;
  margin-left: 10px;
}
.margin-hori-20px {
  margin-left: 20px;
  margin-left: 20px;
}
.margin-hori-40px {
  margin-left: 40px;
  margin-left: 40px;
}
.margin-hori-60px {
  margin-left: 60px;
  margin-left: 60px;
}
.margin-hori-100px {
  margin-left: 100px;
  margin-left: 100px;
}


// margin VERTICALE

.margin-verti-10px {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-verti-20px {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-verti-40px {
  margin-top: 40px;
  margin-bottom: 40px;
}
.margin-verti-60px {
  margin-top: 60px;
  margin-bottom: 60px;
}
.margin-verti-100px {
  margin-top: 100px;
  margin-bottom: 100px;
}



// margin-TOP

.margin-top-10px {
  margin-top: 10px;
}
.margin-top-20px {
  margin-top: 20px;
}
.margin-top-40px {
  margin-top: 40px;
}
.margin-top-60px {
  margin-top: 60px;
}
.margin-top-100px {
  margin-top: 100px;
}

// margin-BOTTOM

.margin-bottom-10px {
  margin-bottom: 10px;
}
.margin-bottom-20px {
  margin-bottom: 20px;
}
.margin-bottom-40px {
  margin-bottom: 40px;
}
.margin-bottom-60px {
  margin-bottom: 60px;
}
.margin-bottom-100px {
  margin-bottom: 100px;
}

// margin-LEFT

.margin-left-10px {
  margin-left: 10px;
}
.margin-left-20px {
  margin-left: 20px;
}
.margin-left-40px {
  margin-left: 40px;
}
.margin-left-60px {
  margin-left: 60px;
}
.margin-left-100px {
  margin-left: 100px;
}


// margin-RIGHT

.margin-right-10px {
  margin-right: 10px;
}
.margin-right-20px {
  margin-right: 20px;
}
.margin-right-40px {
  margin-right: 40px;
}
.margin-right-60px {
  margin-right: 60px;
}
.margin-right-100px {
  margin-right: 100px;
}
