// padding ALL

.padding-10px {
  padding: 10px;
}
.padding-20px {
  padding: 20px;
}
.padding-40px {
  padding: 40px;
}
.padding-60px {
  padding: 60px;
}
.padding-100px {
  padding: 100px;
}

// padding HORIZONTAL

.padding-hori-10px {
  padding-left: 10px;
  padding-left: 10px;
}
.padding-hori-20px {
  padding-left: 20px;
  padding-left: 20px;
}
.padding-hori-40px {
  padding-left: 40px;
  padding-left: 40px;
}
.padding-hori-60px {
  padding-left: 60px;
  padding-left: 60px;
}
.padding-hori-100px {
  padding-left: 100px;
  padding-left: 100px;
}


// padding VERTICALE

.padding-verti-10px {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-verti-20px {
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-verti-40px {
  padding-top: 40px;
  padding-bottom: 40px;
}
.padding-verti-60px {
  padding-top: 60px;
  padding-bottom: 60px;
}
.padding-verti-100px {
  padding-top: 100px;
  padding-bottom: 100px;
}



// padding-TOP

.padding-top-10px {
  padding-top: 10px;
}
.padding-top-20px {
  padding-top: 20px;
}
.padding-top-40px {
  padding-top: 40px;
}
.padding-top-60px {
  padding-top: 60px;
}
.padding-top-100px {
  padding-top: 100px;
}

// padding-BOTTOM

.padding-bottom-10px {
  padding-bottom: 10px;
}
.padding-bottom-20px {
  padding-bottom: 20px;
}
.padding-bottom-40px {
  padding-bottom: 40px;
}
.padding-bottom-60px {
  padding-bottom: 60px;
}
.padding-bottom-100px {
  padding-bottom: 100px;
}

// padding-LEFT

.padding-left-10px {
  padding-left: 10px;
}
.padding-left-20px {
  padding-left: 20px;
}
.padding-left-40px {
  padding-left: 40px;
}
.padding-left-60px {
  padding-left: 60px;
}
.padding-left-100px {
  padding-left: 100px;
}


// padding-RIGHT

.padding-right-10px {
  padding-right: 10px;
}
.padding-right-20px {
  padding-right: 20px;
}
.padding-right-40px {
  padding-right: 40px;
}
.padding-right-60px {
  padding-right: 60px;
}
.padding-right-100px {
  padding-right: 100px;
}
