// Specific CSS for your home-page

.wrapper-bg-white {
  background-color: white;
}

.wrapper-bg-gray {
  background-color: none;
}

.banner {
  background-size: cover !important;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-size:contain;
  background-position:right;
}

.students-index {
  background-size: cover !important;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-size:contain;
  background-position:center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #fff), color-stop(50%, rgba(255,255,255,0.4)), color-stop(90%, #fff)),url(happy-lift.png);
  background-image: linear-gradient(#fff 3%, rgba(255,255,255,0.4) 50%, #fff 90%),url(happy-lift.png);
}

