.banner-story {
  background-size: cover !important;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-size:contain;
  background-position:right;
}

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  margin-top: 20px;
}

.story-list {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.story-container {
  max-width: 768px;
  margin: 0 auto;
  width: 100%;
}

.story-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-box-shadow: 3px 6px 16px 0px rgba(0,0,0,0.1);
  box-shadow: 3px 6px 16px 0px rgba(0,0,0,0.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  margin-top: 20px;
  border-radius: 3px
}

.story-card:hover {
  transform: scale(1.02);
}

.story-card main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 30px;
  padding-bottom: 20px;
}

.story-card-title {
  font-weight: 600;
  line-height: 1.1;
  font-size: 20px;
  letter-spacing: 0px;
}

.story-card-summary {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: 100;
  opacity: 1;
}

.story-card-footer {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #EAEAEA;
  padding: 0;
}

.story-banner-user {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.story-user-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.story-banner-infos {
  text-align: left;
  margin-left: 10px;
}

.story-user-name {
  color: $red;
  font-weight: 700;
}

.story-user-batch {
  font-size: 14px;
  opacity: 1;
}

.stories-link {
  width: 100%;
  background-color: $red;
  color: white;
  font-weight: bold;
  padding: 15px 25px;
  margin: 20px 0px;
  transition: all 180ms ease;
}

.stories-link:hover {
  color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.modal-link {
  text-decoration: none;
  color: $red;
  opacity: 0.7;
}

.modal-link:hover {
  text-decoration: none;
  color: $red;
}


