<section class="wrapper-bg-gray">
  <div class="container padding-top-40px">
    <h2 class="section-title-home" style="font-size:30px;">
      <div class="section-title-home-content" style="background-color: white;">
       Le lift c'est quoi?
     </div>
    </h2>
    <p class="text-center"></p>
    <div class="margin-top-60px">

      <div class="quote-overlay text-center">
        <div class="quote">
          <div class="youtube-link">
            <a href="https://www.youtube.com/watch?time_continue=311&v=ToVxk6_oMfU" target="_blank">
              <%= image_tag 'elie-video-youtube.png' %>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
