<section class="banner-story" style="background-image: url('<%= image_path 'lifteur-story.png' %>');">
  <div class="container padding-top-40px padding-bottom-100px">
    <h2 class="section-title-home" style="font-size:30px;">
      <div class="section-title-home-content" style="background-color: white;">
        Ce que les lifteurs deviennent
      </div>
    </h2>

    <div class="story padding-top-60px">
      <div class="story-list">
        <div class="story-container">

          <div class="story-card">
            <main>
              <div class="story-card-title">
                Jérémy Goillot, growth hacker chez Spendesk
              </div>
              <div class="story-card-summary">
                Le code est une clef de compréhension pour tous les métiers du web. C’est aussi une source d’autonomie et d’indépendance !
              </div>
              <div class="story-card-footer">
                <div class="story-banner-user">
                  <div class="story-user-avatar">
                    <%= image_tag 'bertrand.png' ,class:'story-user-avatar' %>
                  </div>
                  <div class="story-banner-infos">
                    <div class="story-user-name">
                      Bertrand Matelart
                    </div>
                    <div class="story-user-batch">
                      Promotion #1
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>

          <div class="story-card">
            <main>
              <div class="story-card-title">
                Jérémy Goillot, growth hacker chez Spendesk
              </div>
              <div class="story-card-summary">
                Le code est une clef de compréhension pour tous les métiers du web. C’est aussi une source d’autonomie et d’indépendance !
              </div>
              <div class="story-card-footer">
                <div class="story-banner-user">
                  <div class="story-user-avatar">
                    <%= image_tag 'bertrand.png' ,class:'story-user-avatar' %>
                  </div>
                  <div class="story-banner-infos">
                    <div class="story-user-name">
                      Bertrand Matelart
                    </div>
                    <div class="story-user-batch">
                      Promotion #1
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>

          <button class="btn stories-link">Lire plus d'histoire</button>

        </div>
      </div>
    </div>


  </div>
</section>
