<section class="wrapper-bg-gray">
  <div class="container padding-top-40px padding-bottom-100px">
    <h2 class="section-title-home" style="font-size:30px;">
       Le lift dans votre boite mail
    </h2>
    <p class="text-center">Recevez les prochaines dates des ateliers gratuits et des nouvelles du Lift !</p>
    <div class="margin-top-60px">

        <!-- Begin MailChimp Signup Form -->
        <div class="newsletter">
          <form action="https://lelift.us16.list-manage.com/subscribe/post?u=4c46167bab9bf54d2b324ba90&amp;id=c85a2390ff" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_4c46167bab9bf54d2b324ba90_c85a2390ff" tabindex="-1" value="">
              </div>

            <div class="newsletter-input">
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <input type="email" value="" name="EMAIL" class="newsletter-input-email" id="mce-EMAIL" placeholder="adresse.email@exemple.com" required>
              <input type="submit" value="Je m'abonne" name="subscribe" id="mc-embedded-subscribe" class="newsletter-input-button"></div>
          </form>
        </div>
        <!--End mc_embed_signup-->
    </div>
  </div>
</section>
