<section class="wrapper-bg-white">
  <div class="container padding-top-40px padding-bottom-100px">
    <h2 class="section-title-home" style="font-size:30px;">
      <div class="section-title-home-content" style="background-color: white;">
        Se trouver et trouver sa voie
      </div>
    </h2>
    <div class="text-center padding-top-60px">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="card-active border-right-red">
            <div class="description">
              <h4 class="text-right">Se connaître</h4>
              <br>
              <p class="text-right">Pour s'épanouir, faire des choix conscients et développer des relations humaines constructives, il est indispensable de se connaître et de reconnaître l’altérité. Les <strong>ateliers de développement personnel</strong> permettent de prendre conscience de son potentiel, de ses émotions mais aussi de son corps et de ses limites, et d’apprendre quand et comment les dépasser. Ils stimuleront également son aptitudes à évoluer en équipe. </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="card-active border-left-red">
            <div class="description">
              <h4 class="text-left">Méthodologie et outils</h4>
              <br>
              <p class="text-left">Ces ateliers ont pour but de développer les aptitudes et les compétences des élèves et leur donner les outils nécessaires à leurs apprentissages.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="card-active border-right-red">
            <div class="description">
              <h4 class="text-right">Elargire son champ de connaissance scientifique</h4>
              <br>
              <p class="text-right">Ces ateliers s'intéressent aussi bien aux sciences exactes qu'aux sciences humaines et sociales. Ils servent surtout élargir le champ des connaissances et à mettre en pratique les méthodes et outils assimilés. On ne peut tout apprendre, aussi, les ateliers proposés abordent des questions et des réflexions contemporaines.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="card-active border-left-red">
            <div class="description">
              <h4 class="text-left">Appréhender l'art et sa créativité</h4>
              <br>
              <p class="text-left">Ces ateliers s'intéressent aux diverses formes de création et d’expression artistique. Ils permettent de se libérer d'inhibitions, de la crainte de la création, du jugement et du risque.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="card-active border-right-red">
            <div class="description">
              <h4 class="text-right">" Je suis en décrochage "</h4>
              <br>
              <p class="text-right">"Je sors de mes études secondaire et je manque de perspective concernant ma voie d'étude et professionnelle. J'ai simplement l'impression que je ne me suis pas encore trouvé réellement.
              Dans un cas, j'ai plusieurs domaine qui m'attire mais je n'arrive pas à faire un choix. Dans l'autre cas, je ne sais pas quoi faire et j'ai besoin de temps pour définir ma voie."</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="card-active border-left-red">
            <div class="description">
              <h4 class="text-left">" Je suis en décrochage "</h4>
              <br>
              <p class="text-left">"Je sors de mes études secondaire et je manque de perspective concernant ma voie d'étude et professionnelle. J'ai simplement l'impression que je ne me suis pas encore trouvé réellement.
              Dans un cas, j'ai plusieurs domaine qui m'attire mais je n'arrive pas à faire un choix. Dans l'autre cas, je ne sais pas quoi faire et j'ai besoin de temps pour définir ma voie."</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row margin-top-60px text-center">
      <button class="btn btn-red">Lire le programme</button>
    </div>
  </div>
</section>
