<section class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.3) 50%), url('<%= image_path 'banner.png' %>');">
  <div class="container">
    <div class="row text-center">
      <h2>Le Lift - Life Bootcamp</h2>
      <h1>Démarer sa vie : se trouver et trouver sa voie</h1>
      <br>
      <p>Le lift permet aux <strong>esprits singuliers de construire sereinement leur avenir.</strong></p>
      <br>
      <button class="btn btn-white">Découvrez notre programme</button>
      <button class="btn btn-red">Postulez</button>
    </div>
  </div>
</section>
