.card-background {
  background-color: white;
  -webkit-box-shadow: 3px 6px 16px 0px rgba(0,0,0,0.1);
  box-shadow: 3px 6px 16px 0px rgba(0,0,0,0.1);
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
  margin-top: 30px;
}

.card-background:hover {
  transform: scale(1.02);
}

.card-background-header {
  height: 150px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card-background-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-background-category {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 5px 10px 5px;
  margin-right: 10px;
  border-radius: 2px;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
}
.card-background-description {
  position: absolute;
  bottom: 0px;
  left: 15px;
}
.card-background-description h2 {
  font-size: 24px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}
.card-background-description p {
  font-size: 14px;
  opacity: 1;
  font-weight: regular;
}
.card-background-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-background-link:hover {
  opacity: 0.1;
}


.card-background-explication {
  min-height: 300px;
  padding: 10px 30px;
  color: $dark-gray;
  -webkit-box-shadow: 3px 6px 16px 0px rgba(0,0,0,0.1);
  box-shadow: 3px 6px 16px 0px rgba(0,0,0,0.1);
}

.bg-green {
  background-color: $green;
}

.bg-red {
  background-color: $red;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-blue {
  background-color: $blue;
}

.bg-orange {
  background-color: $orange;
}

.bg-dark-gray {
  background-color: $dark-gray;
}





.border-bottom-red {
  border-top: 10px solid $red;
}

.border-bottom-yellow {
  border-top: 10px solid $yellow;
}

.border-bottom-blue {
  border-top: 10px solid $blue;
}

.border-bottom-orange {
  border-top: 10px solid $orange;
}

.border-bottom-green {
  border-top: 10px solid $green;
}

.border-bottom-dark-gray {
  border-top: 10px solid $dark-gray;
}





