.youtube-link img {
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  max-width: 900px;

}

.youtube-link img:hover {
  transform: translateY(-10px);
  transition: transform .3s ease;
}
